@media (prefers-reduced-motion: no-preference) {
}

main,
header {
    width: min(50ch, 100% - 2rem);
    margin-inline: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.text-field {
    border: 1px solid currentColor;
    border-radius: 6px;
}

.buttons-container {
    margin-block-start: 1rem;
    display: flex;
    justify-content: space-between;
}